.react
  background-image: url('/images/react_background.png')

.lsd
  background-image: url('/images/lsd.jpg')

.code-matrix
  background-image: url('/images/code.gif')

.redux
  background-image: url('/images/redux_background.png')

.dan
  background-image: url('/images/dan_background.jpg')
