.flux
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  margin 0px

  .bespoke-bullet
    display: flex;
    justify-content: center
    align-items: center
    flex-direction: column
    position: absolute
    width: 100%
    height: 100%
    left: 0%
    top: 0%

    h2
      height: 100px
      width: 80%
      font-size: 1.2em

  .bespoke-bullet-active
    h2
      opacity: 0

  .bespoke-bullet-current
    h2
      opacity: 0.5
