.compelling
  width: 100%
  margin-left: 0px
  left: calc(50% - 475px)
  -webkit-transition: left 1s
  transition: left 1s
  font-size: 26px
  color: rgba(255, 255, 255, 0.15)
  white-space: nowrap

.declarative
  font-size: 36px
  left: calc(50% - 220px)

  .declarative-substep
    color: white

.predictable
  font-size: 36px
  left: calc(50% - 670px)

  .predictable-substep
    color: white

.confidence
  font-size: 36px
  left: calc(50% - 1110px)

  .confidence-substep
    color: white

.reliability
  font-size: 36px
  left: calc(50% - 1520px)

  .reliability-substep
    color: white
