.reducer
  width: 100%
  height: 100%
  top: 0px
  left: 0px
  margin 0px

  .bespoke-bullet
    display: flex;
    justify-content: center
    align-items: center
    flex-direction: column
    position: absolute
    width: 100%
    height: 100%
    left: 0%
    top: 0%

    h3
      font-size: 1.5em

      .clear
        opacity: 0.2

  .bespoke-bullet-active
    opacity: 0

  .bespoke-bullet-current
    opacity: 1
